@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: #f7f7ff;
}

* {
  box-sizing: border-box;
}
